<div id="<%= dom_id compra %>">
  <p>
    <strong>Name:</strong>
    <%= compra.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= compra.date %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= compra.price %>
  </p>

</div>
